extends ../layout

block content

    h2 Rebuild

    p You should stay healthy by completing the following actions:

    each val, index in todos
        div
            span(class="todo_title")= index
            ul
                each val in todos[index]
                    li
                        input(type="checkbox")
                        span= val
                else
                    li Nothing to do
