extends ../layout

block content

    p(class="error")= error
    form(action="register" method="POST")
        fieldset
            legend Personal Detail
            div Username
                input(type="text" name="username")
            div Location
                select(name="country")
                    option(value="Puerto Rico") Puerto Rico
                    option(value="United Kingdom") United Kingdom
                input(type="text" name="latitude" id="latitude" value="18.40")
                input(type="text" name="longitude" id="longitude" value="-66.10")
        fieldset
            legend Family
            div Adults
                input(type="number" name="adults" value="1")
            div Children
                input(type="number" name="children" value="0")
            div Infants
                input(type="number" name="infants" value="0")
        fieldset
            legend Pets
            div I have pets
                input(type="checkbox" name="pets")
        fieldset
            legend Special needs
            textarea(name="needs")
        button(type="submit" text="Register") Register