doctype html
html
    head
        title Personalized Disaster Assistant
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Personalized Disaster Assistant
        div
          a(href="/") Home

        block content
